
header{
    background-color: blueviolet;
    border-color: black;
    border-style:solid;
    text-align: center;
}

section{
    background-color:lightpink;
    border-color: black;
    border-style:solid;
}

footer{
    background-color: blueviolet;
    border-color: black;
    border-style:solid;
    text-align: center;
}

