body{
    background-color: #A72693;
}

header{
    background-color:#241663;
    color:#EAE7AF;
    margin-bottom: 50px;
}

section{
    background-color:#241663;
    color:#EAE7AF;
}

footer{
    background-color:#160F30;
    color: #A72693;
    text-align: center;
}

#logo{
    height: 50px;
    width: auto;
    padding: left 20px;
} 

#redes{
    padding-top: 10px;
    padding-right: 20px;
}

#cabecera{
    height: 50px;
    background-color:#160F30;
    width: auto;
}

#Rocio{
    border-radius: 50%;
}

#perfil{
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: -70px;
}

#banner{
    height: 300px;
    width: auto;
}

#portada{
    justify-content: center;
    background-image: url(img/banner2.png);
}